@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "./mixin";

$body-color: #eee;
$black: #161616;
$light-black: #414141;
$light-color: #ddd;
$tag-color: #2153f7;
$main-color: #c41414;
$border: .2rem solid $black;
$txt-border: .2rem dashed $light-black;
$font-ru: "Rubik", sans-serif;
$font-alfa : "Alfa Slab One",
serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

    @include desktop {
        font-size: 55%;
    }

    @include mobile {
        font-size: 50%;
    }
}

body {
    background: $body-color;
    font-family: $font-ru;
    font-weight: 400;
    font-style: normal;
}

section {
    margin: 0 auto;
    padding: 6rem 3rem;
    max-width: 1200px;
}

h2 {
    font-family: $font-alfa;
    color: $black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: transparent;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 3rem;
        background: transparent;
        border-bottom: $border;

        &.active {
            border: none;
        }

        .logo {
            color: $black;
            font-size: 2rem;
            font-weight: bolder;
        }

        .navbar {
            a {
                color: $black;
                font-size: 1.6rem;
                display: inline-block;
                margin-left: 1rem;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}

.banner {
    .flex {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .banner_txt {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .circle_wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40rem;
                height: 40rem;
                z-index: 0;

                .circle_float {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1rem solid white;
                    animation: float 4s linear infinite;
                }
            }

            h2,
            >span {
                position: relative;
                z-index: 1;
            }

            h2 {
                position: relative;
                font-size: 5rem;
                z-index: 1;
                line-height: 1;
                font-family: 400;

                span {
                    color: $main-color;
                }
            }

            >span {
                font-size: 2.3rem;
                color: $light-black;
                margin-top: 1.2rem;
                z-index: 1;
            }
        }

        /* 마우스 아이콘 */
        .mouseicon {
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translateX(-50%);
            color: $black;

            @include mobile {
                display: none;
            }

            a span {
                position: absolute;
                top: 0;
                left: 50%;
                width: 30px;
                height: 50px;
                margin-left: -15px;
                border: 2px solid $black;
                border-radius: 50px;
                box-sizing: border-box;

                &::before {
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    content: '';
                    width: 6px;
                    height: 6px;
                    margin-left: -3px;
                    background-color: $black;
                    border-radius: 100%;
                    animation: sdb 2s infinite;
                    box-sizing: border-box;
                }
            }
        }
    }
}

/* 스크롤 마우스 아이콘 애니메이션 */
@keyframes sdb {
    0%,
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

/* about */
.about {
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        flex-wrap: wrap;

        .img {
            flex: 1 1 40rem;

            @include mobile {
                padding: 1.5rem;
            }

            img {
                width: 100%;
                padding: 1rem;
                border: $border;
            }
        }

        .content {
            flex: 1 1 40rem;

            @include mobile {
                padding: 1.5rem;
            }

            h2 {
                font-size: 4rem;
                font-weight: 300;
                margin-bottom: 2rem;
                padding: 2rem 0;
                border-bottom: $txt-border;

                span {
                    color: $main-color;
                }
            }

            >p {
                font-size: 1.5rem;
                line-height: 2;
                color: $black;
            }

            .flex_box {
                border-top: $txt-border;
                margin: 1rem 0;

                .cont_flex {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;

                    h3 {
                        font-size: 3rem;
                        color: $black;
                        margin: 1.8rem 0;
                    }

                    .img_box {
                        img {
                            height: 4rem;
                            width: 4rem;
                            object-fit: cover;
                            border-radius: 50%;
                            border: .2rem solid $light-color;
                            padding: .2rem;
                        }
                    }
                }

                p {
                    font-size: 1.5rem;
                    line-height: 2.2;
                    color: $black;
                    position: relative;
                    padding-left: 2rem;

                    @include mobile {
                        padding-left: 0;
                    }

                    &::before {
                        content: '';
                        width: 1rem;
                        height: 1rem;
                        background: $black;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        border-radius: 50%;
                        transform: translateY(-50%);

                        @include mobile {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.portfolio {
    h2 {
        font-size: 5rem;
        font-weight: 300;
        margin-bottom: 2rem;
        padding: 2rem 0;

        span {
            color: $main-color;
        }
    }

    .port_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }

        .box {
            cursor: pointer;
            position: relative;
            border: $border;
            border-radius: 2rem;
            overflow: hidden;
            height: 25rem;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(41, 41, 41, 0); // 기본은 살짝 어둡게
                z-index: 1;
                transition: background 0.3s ease;
            }

            // hover 시 더 어둡게
            &:hover::after {
                background: rgba(15, 15, 15, 0.71);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 1.8rem;
                z-index: 2;
                text-shadow: 1px 1px rgb(40, 40, 40);
            }
        }
    }
}

/* 팝업창 */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &.active {
        display: flex;
    }

    .popup_box {
        background: white;
        border-radius: 2rem;
        width: 70rem;
        max-height: 80vh;
        overflow-y: auto;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .popup_content {
            overflow-y: auto;
            max-height: calc(80vh - 10rem); // 예: 80vh - 6rem
            padding: 2rem 3rem;

            p {
                font-size: 1.5rem;
                color: $black;
            }

            img {
                margin-top: 2rem;
                width: 100%;

                @include mobile{
                padding:2rem;
                }
            }
        }

        .top_bar {
            background: white;
            font-size: 3rem;
            height: 10rem;
            position: sticky;
            top: 0;
            z-index: 5;
            padding: 1rem 2rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;

            flex-shrink: 0;

            .popup_top {
                padding: 1rem 0;
                line-height: 1;

                .flex_box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 3rem;

                    .popup_title {
                        font-size: 2.3rem;
                    }

                    .page_btn {
                        font-size: 1.4rem;
                        background: $black;
                        color: white;
                        padding: 1rem 2rem;
                        border-radius: 2rem;

                        &:hover {
                            background: $main-color;
                        }
                    }
                }

                span {
                    font-size: 1.4rem;
                    color: $tag-color;
                }
            }

            .close_btn {
                font-size: 2.8rem;
                background: none;
                border: none;
                cursor: pointer;
                font-family: $font-ru;
            }
        }
        /* top_bar end */
    }
    /* popup_box end */
}

/* footer */
.footer {
    margin-top: 4rem;

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 3rem;
        background: transparent;
        border-top: $border;

        p {
            font-size: 1.2rem;
            color: $light-black;
        }
    }
}

/* 애니메이션 */
@keyframes float {
    0% {
        transform: scale(1);
        border-radius: 50% / 50%;
    }

    25% {
        transform: scale(1.02, 0.98);
        border-radius: 47% 53% 50% 50% / 50% 47% 53% 50%;
    }

    50% {
        transform: scale(0.98, 1.02);
        border-radius: 52% 48% 50% 50% / 50% 52% 48% 50%;
    }

    75% {
        transform: scale(1.01, 0.99);
        border-radius: 49% 51% 50% 50% / 50% 49% 51% 50%;
    }

    100% {
        transform: scale(1);
        border-radius: 50% / 50%;
    }
}