@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  transition: all 0.2s linear;
  font-family: "Pretendard-Regular", serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (min-width: 1024px) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 57%;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  html {
    font-size: 52%;
  }
}

body {
  overflow-x: hidden;
}

section {
  margin: 0 auto;
  padding: 4rem 6rem;
  max-width: 1200px;
}
@media (min-width: 350px) and (max-width: 767px) {
  section {
    padding: 1rem;
  }
}

.sub-heading {
  text-align: center;
  color: #df2929;
  font-size: 1.7rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.heading {
  text-align: center;
  color: #151515;
  font-size: 3rem;
  padding-bottom: 4rem;
  text-transform: uppercase;
}

/* 버튼 */
.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #151515;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn:hover {
  background: #df2929;
  letter-spacing: 0.1rem;
  /* 애니메이션처럼 커짐 */
}

.btn_2 {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.8rem;
  color: #151515;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn_2:hover {
  background: #151515;
  color: #fff;
  letter-spacing: 0.1rem;
  /* 애니메이션처럼 커짐 */
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}
header.active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  header .flex {
    padding: 1rem 2rem;
  }
}
header .flex .logo img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  line-height: 4.5rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  header .flex .logo img {
    width: 4rem;
    height: 4rem;
  }
}
header .flex .navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  header .flex .navbar {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #fff;
    padding: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .flex .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
header .flex .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #151515;
}
header .flex .navbar a.active, header .flex .navbar a:hover {
  color: #fff;
  background: #df2929;
}
@media (min-width: 350px) and (max-width: 767px) {
  header .flex .navbar a {
    display: block;
    font-size: 2rem;
    margin: 2rem;
  }
}
header .flex .icons i,
header .flex .icons a {
  cursor: pointer;
  margin-left: 0.3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #151515;
  border-radius: 50%;
  background-color: #eee;
}
header .flex .icons i:hover,
header .flex .icons a:hover {
  background: #df2929;
  color: #fff;
  transform: rotate(360deg);
}
header .flex .icons #menu-bars {
  display: none;
}
@media (min-width: 350px) and (max-width: 767px) {
  header .flex .icons #menu-bars {
    display: inline-block;
  }
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  /* top -110% 해서 안보이게 함 */
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#search-form.active {
  top: 0;
}
#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 2.5rem;
  text-transform: none;
  background: none;
}
#search-form #search-box::-moz-placeholder {
  color: #eee;
}
#search-form #search-box::placeholder {
  color: #eee;
}
#search-form #search-box::-webkit-scrollbar-button {
  -webkit-appearance: none;
}
#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
}
#search-form label:hover {
  color: #df2929;
}
#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 4rem;
}

.home {
  width: 100%;
  padding-top: 7rem;
}
.home .home-slider {
  max-width: 100%;
  overflow: hidden;
}
.home .home-slider .slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: 90vh;
}
@media (min-width: 350px) and (max-width: 767px) {
  .home .home-slider .slide {
    max-height: 120vh;
  }
}
.home .home-slider .slide .content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding: 1rem;
}
.home .home-slider .slide .content.second h3,
.home .home-slider .slide .content.second p,
.home .home-slider .slide .content.second span {
  color: #fff;
}
.home .home-slider .slide .content span {
  font-size: 1.9rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .home .home-slider .slide .content span {
    font-size: 1.3rem;
  }
}
.home .home-slider .slide .content h3 {
  font-size: 6rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .home .home-slider .slide .content h3 {
    font-size: 2.5rem;
  }
}
.home .home-slider .slide .content p {
  font-size: 2rem;
  line-height: 2;
}
@media (min-width: 350px) and (max-width: 767px) {
  .home .home-slider .slide .content p {
    font-size: 1.5rem;
  }
}
.home .home-slider .slide .image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 350px) and (max-width: 767px) {
  .home .home-slider .slide .image {
    height: 35vh;
  }
}
.home .home-slider .slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* dishes */
.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .dishes .box-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}
.dishes .box-container .box {
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.dishes .box-container .box img {
  height: 18rem;
  margin: 1rem 0;
}
@media (min-width: 350px) and (max-width: 767px) {
  .dishes .box-container .box img {
    height: 10rem;
  }
}
.dishes .box-container .box h3 {
  color: #151515;
  font-size: 1.7rem;
  margin-top: 1.5rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .dishes .box-container .box h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}
.dishes .box-container .box .price {
  margin: 1.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.dishes .box-container .box .price .sale {
  color: #df2929;
  font-size: 1.8rem;
  font-weight: bolder;
}
@media (min-width: 350px) and (max-width: 767px) {
  .dishes .box-container .box .price .sale {
    font-size: 1.4rem;
  }
}
.dishes .box-container .box .price .under {
  text-decoration: line-through;
  color: #b9b9b9;
  font-size: 1.6rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .dishes .box-container .box .price .under {
    font-size: 1.2rem;
  }
}
.dishes .box-container .box .price .main_price {
  color: #151515;
  font-size: 2rem;
  font-weight: bolder;
}
@media (min-width: 350px) and (max-width: 767px) {
  .dishes .box-container .box .price .main_price {
    font-size: 1.3rem;
  }
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-bookmark {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #151515;
}
@media (min-width: 350px) and (max-width: 767px) {
  .dishes .box-container .box .fa-heart,
  .dishes .box-container .box .fa-bookmark {
    height: 4rem;
    width: 4rem;
    font-size: 1.6rem;
    line-height: 4rem;
  }
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-bookmark:hover {
  background: #df2929;
  color: #fff;
}
.dishes .box-container .box .fa-heart {
  right: 1.5rem;
}
.dishes .box-container .box .fa-bookmark {
  left: 1.5rem;
}

.about {
  background: url("../images/beauty-4993469_1280.jpg") center/cover no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.356);
  background-blend-mode: color;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .about {
    width: 100%;
    min-height: 45vh;
    margin-top: 5rem;
  }
}
.about .content {
  text-align: center;
}
.about .content h2 {
  color: #fff;
  font-size: 2.7rem;
}
.about .content p {
  color: #fff;
  font-size: 1.7rem;
  margin: 2rem 0;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .menu .box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu .box-container .box {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.menu .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}
@media (min-width: 350px) and (max-width: 767px) {
  .menu .box-container .box .image {
    height: 18rem;
  }
}
.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: #151515;
}
@media (min-width: 350px) and (max-width: 767px) {
  .menu .box-container .box .image .fa-heart {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.8rem;
  }
}
.menu .box-container .box .image .fa-heart:hover {
  background: #df2929;
  color: #fff;
}
.menu .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}
.menu .box-container .box .content h3 {
  color: #151515;
  font-size: 1.7rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .menu .box-container .box .content h3 {
    font-size: 1.5rem;
  }
}
.menu .box-container .box .content p {
  color: #b2b2b2;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}
@media (min-width: 350px) and (max-width: 767px) {
  .menu .box-container .box .content p {
    font-size: 1.2rem;
  }
}
.menu .box-container .box .content .stars {
  padding-bottom: 1rem;
}
.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #df2929;
}
@media (min-width: 350px) and (max-width: 767px) {
  .menu .box-container .box .content .stars i {
    font-size: 1.4rem;
  }
}
.menu .box-container .box .content .btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.menu .box-container .box .content .btm .pice {
  color: #df2929;
  font-size: 1.8rem;
  font-weight: bolder;
}
@media (min-width: 350px) and (max-width: 767px) {
  .menu .box-container .box .content .btm .pice {
    font-size: 1.5rem;
    text-align: center;
  }
}

.review .swiper-wrapper {
  max-width: 100%;
}
.review .swiper-wrapper .slide {
  width: 100%;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
  min-height: 28rem;
  flex-direction: column;
}
@media (min-width: 350px) and (max-width: 767px) {
  .review .swiper-wrapper .slide {
    padding: 1rem;
    min-height: 25rem;
  }
}
.review .swiper-wrapper .slide p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #b2b2b2;
  margin-top: auto;
}
@media (min-width: 350px) and (max-width: 767px) {
  .review .swiper-wrapper .slide p {
    font-size: 1.3rem;
  }
}
.review .swiper-wrapper .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 1.5rem;
}
.review .swiper-wrapper .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 350px) and (max-width: 767px) {
  .review .swiper-wrapper .slide .user img {
    height: 5rem;
    width: 5rem;
  }
}
.review .swiper-wrapper .slide .user h3 {
  color: #151515;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .review .swiper-wrapper .slide .user h3 {
    font-size: 1.7rem;
  }
}
.review .swiper-wrapper .slide .user i {
  font-size: 1.3rem;
  color: #df2929;
}
@media (min-width: 350px) and (max-width: 767px) {
  .review .swiper-wrapper .slide .user i {
    font-size: 1.2rem;
  }
}

.footer {
  border-top: 0.1rem solid rgba(11, 11, 11, 0.1);
  margin-top: 5rem;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .footer .box-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}
.footer .box-container .box_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 350px) and (max-width: 767px) {
  .footer .box-container .box_logo {
    display: none;
  }
}
.footer .box-container .box_logo img {
  height: 5rem;
  border-radius: 50%;
}
.footer .box-container .box {
  text-align: left;
}
.footer .box-container .box h3 {
  padding: 0.8rem 0;
  font-size: 1.6rem;
  color: #151515;
}
@media (min-width: 350px) and (max-width: 767px) {
  .footer .box-container .box h3 {
    font-size: 1.4rem;
  }
}
.footer .box-container .box a {
  display: block;
  padding: 0.8rem 0;
  font-size: 1.5rem;
  color: #b2b2b2;
}
@media (min-width: 350px) and (max-width: 767px) {
  .footer .box-container .box a {
    font-size: 1.3rem;
  }
}
.footer .box-container .box a:hover {
  color: #151515;
  text-decoration: underline;
}
.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  color: #b9b9b9;
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .footer .credit {
    font-size: 1.3rem;
  }
}
.footer .credit span {
  color: #151515;
}

/* loading */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loader-container.fade-out {
  top: 110%;
  opacity: 0;
}
.loader-container img {
  width: 10rem;
}
@media (min-width: 350px) and (max-width: 767px) {
  .loader-container {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */