@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import "../../css/mixin";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

$pre-font: 'Pretendard-Regular', serif;

$main-color: #df2929;
$sub-color: #272727;
$light-color: #b2b2b2;
$light-black: #b9b9b9;
$black: #151515;
$white: #fff;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all .2s linear;
    font-family: $pre-font;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    @include desktop {
        font-size: 60%;
    }

    @include tablet {
        font-size: 57%;
    }

    @include mobile {
        font-size: 52%;
    }
}

body {
    overflow-x: hidden;
}

section {
    margin: 0 auto;
    padding: 4rem 5rem;
    max-width: 1200px;

    @include mobile {
        padding: 2rem 3rem;
    }
}

.sub-heading {
    text-align: center;
    color: $main-color;
    font-size: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.heading {
    text-align: center;
    color: $black;
    font-size: 2.6rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
}

/* 버튼 */
.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    background: $black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .9rem 3rem;
    text-align: center;

    &:hover {
        background: $main-color;
    }
}

.btn_2 {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.6rem;
    color: $black;
    background: $white;
    border-radius: .5rem;
    cursor: pointer;
    padding: .9rem 3rem;

    &:hover {
        background: $black;
        color: $white;
        // letter-spacing: .1rem;
        /* 애니메이션처럼 커짐 */
    }
}

/* header */
.header {
    background: $white;

    &.active {
        box-shadow: $box-shadow;
    }

    @include mobile {
        padding: 1rem 3rem;
    }

    /* top_menu */
    .top_menu {
        display: flex;
        justify-content: flex-end;
        background-color: $white;
        padding: 1rem 5rem;

        @include mobile {
            display: none;
        }

        ul {
            display: flex;
            /* 이거 해야 li 요소들 가로정렬됨! 왜냐! li는 기본적으로 수직으로 정렬되기때문에 가로정렬을 해주려면 flex 해줘야됨*/

            li {
                &::after {
                    content: "|";
                    align-items: center;
                    color: #ccc;
                }

                &:last-child::after {
                    content: "";
                }

                &:nth-last-child(1) {

                    a {
                        padding-right: 0;
                    }
                }

                a {
                    padding: 0 1.5rem;
                    color: $black;
                    font-size: 1.2rem;

                    &:hover {
                        color: $main-color;
                    }

                    @include mobile {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .mobile_top {
        display: none;
        padding: 1rem 0;

        @include mobile {
            display: block;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mo_logo {
                img {
                    width: 3.4rem;
                    border-radius: 50%;

                    @include mobile{
                        width:3rem;
                    }
                }
            }

            i {
                color: #818181;
                font-size: 2.5rem;
                margin-left: 2rem;
                cursor: pointer;

                &:hover{
                    color:$black;
                }

                @include mobile{
                    font-size: 1.8rem;
                }
            }
        }

    }

    /* middle menu */
    .middle_menu {
        background-color: $white;
        border-bottom: 1px solid #c7c7c7;
        padding: 0 5rem;

        @include mobile {
            display: none;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;

            .logo {
                font-size: 2.3rem;
                font-weight: bold;
                color: $black;
            }

            .search_box form {
                display: flex;
                border: .2rem solid $black;
                border-radius: 3rem;
                overflow: hidden;

                input[type="text"] {
                    padding: 1.3rem 4rem;
                    border: none;
                    outline: none;
                    width: 34rem;
                }

                .search_btn {
                    background-color: $white;
                    border: none;
                    padding: 1rem 2rem;
                    cursor: pointer;
                    color: $light-black;
                    font-weight: bold;

                    i {
                        font-size: 1.7rem;

                        &:hover {
                            color: $black;
                        }
                    }
                }
            }

            .menu_list a {
                margin-left: 2rem;
                font-size: 1.5rem;
                text-decoration: none;
                color: $black;
                font-weight: bold;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}

.nav {
        position: relative;

        @include mobile{
            &.active{
position: fixed;
            top:0; right:0; left:0;
            z-index: 1000;
            background: $white;
            box-shadow: $box-shadow;
            }
            
        }

        .navbar {
            display: grid;
            grid-template-columns: repeat(8, 1fr); // 8칸 균등 분할
            text-align: center;
            padding: 2rem 6rem;
            gap:1rem;

            @include mobile{
                padding:2rem 1rem;
                gap:.5rem;
            }

            a {
                font-size: 1.6rem;
                color: $black;
                font-weight: bolder;

                &:hover {
                    color: $main-color;
                }

                @include mobile{
                    font-size: 1.3rem;
                }
            }
        }

        .nav_open {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: $white;
            z-index: 200;
            grid-template-columns: repeat(8, 1fr); // 위랑 동일한 칸수
            padding: 2rem 6rem;
            border-top: 1px solid #ddd;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            gap:1rem;

            @include mobile {
    padding:2rem 1rem;
    gap:.5rem;
  }

            .box {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: center;
                border-right: .1rem solid #dddddd;

                &:last-child {
                    border-right: none;
                }

                a {
                    font-size: 1.4rem;
                    color: $black;
                    font-weight: bolder;
                    display: block;
                    text-align: center;

                    &:hover {
                        color: $main-color;
                    }

                    @include mobile{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    /* top -110% 해서 안보이게 함 */
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    @include mobile{
        padding:1rem 3rem;
    }

    &.active {
        top: 0;
    }

    #search-box {
        width: 50rem;
        border-bottom: .1rem solid #fff;
        padding: 1rem 0;
        color: #fff;
        font-size: 2.5rem;
        text-transform: none;
        background: none;

        &::placeholder {
            color: #eee;
        }

        &::-webkit-scrollbar-button {
            -webkit-appearance: none;
        }
    }

    label {
        color: #fff;
        cursor: pointer;
        font-size: 2.5rem;

        &:hover {
            color: $main-color;
        }
    }

    #close {
        position: absolute;
        color: #fff;
        cursor: pointer;
        top: 2rem;
        right: 3rem;
        font-size: 4rem;
    }
}

.home {
    width: 100%;

    .home-slider {
        max-width: 100%;
        overflow: hidden;

        .slide {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            max-height: 80vh;

            @include mobile {
                max-height: 120vh;
            }

            .content {
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
                padding: 1rem;

                &.second {

                    h3,
                    p,
                    span {
                        color: $white;
                    }
                }

                span {
                    font-size: 1.8rem;
                    display: inline-block;
                    margin-bottom: 1rem;

                    @include mobile {
                        font-size: 1.3rem;
                    }
                }

                h3 {
                    font-size: 4.2rem;
                    margin-bottom: 1rem;

                    @include mobile {
                        font-size: 2.5rem;
                    }
                }

                p {
                    font-size: 1.8rem;
                    line-height: 2;

                    @include mobile {
                        font-size: 1.5rem;
                    }
                }
            }

            .image {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    height: 35vh;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

/* dishes */
.dishes {
    margin-top: 6rem;

    .menu_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;

        .title_top {
            font-size: 2.5rem;
            color: $black;
            font-weight: bold;
        }

        .more {
            color: $light-black;
            font-size: 1.8rem;

            &:hover {
                color: $black;
            }
        }
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            padding: 1rem;
        }

        .box {
            padding: 1rem;
            background: $white;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            width: 100%;

            .image {
                width: 100%;

                img {
                    height: 17rem;
                    width: 100%;
                    object-fit: cover;

                    @include mobile {
                        height: 10rem;
                    }
                }
            }

            h3 {
                color: $black;
                font-size: 1.6rem;
                text-align: left;
                font-weight: normal;

                @include mobile {
                    font-size: 1.4rem;
                    margin-top: .5rem;
                }
            }

            .price {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .pr_box {
                    display: flex;
                    align-items: center;
                    gap: .8rem;

                    .sale {
                        color: $main-color;
                        font-size: 1.7rem;
                        font-weight: bolder;

                        @include mobile {
                            font-size: 1.4rem;
                        }

                    }

                    .under {
                        text-decoration: line-through;
                        color: $light-black;
                        font-size: 1.5rem;

                        @include mobile {
                            font-size: 1.2rem;
                        }
                    }

                    .main_price {
                        color: $black;
                        font-size: 1.7rem;
                        font-weight: bolder;

                        @include mobile {
                            font-size: 1.3rem;
                        }
                    }
                }

                .fa-heart {

                    color: red;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.about {
    background: url('../images/beauty-4993469_1280.jpg') center/cover no-repeat fixed;
    background-color: rgba(0, 0, 0, 0.356);
    background-blend-mode: color;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

    @include mobile {
        width: 100%;
        min-height: 45vh;
        margin-top: 5rem;
        padding: 3rem;
    }

    .content {
        text-align: center;

        h2 {
            color: $white;
            font-size: 2.6rem;
        }

        p {
            color: $white;
            font-size: 1.7rem;
            margin: 2rem 0;
            line-height: 2;
        }
    }
}

.menu {
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 3rem;
        padding: 1rem;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }

        .box {
            background: $white;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.5rem;
            width: 100%;
            margin-top: 1.5rem;

            .image {
                width: 100%;

                img {
                    height: 18rem;
                    width: 100%;
                    object-fit: cover;

                    @include mobile {
                        height: 10rem;
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                flex: 1;

                h3 {
                    color: $black;
                    font-size: 1.7rem;

                    @include mobile {
                        font-size: 1.5rem;
                    }
                }

                p {
                    color: $light-color;
                    font-size: 1.4rem;
                    padding: .5rem 0;
                    line-height: 1.5;

                    @include mobile {
                        font-size: 1.2rem;
                    }
                }

                .price_box {
                    margin-top: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price {
                        color: $black;
                        font-size: 1.7rem;
                        font-weight: bold;
                    }

                    .icons {
                        font-size: 1.5rem;

                        .fa-heart {
                            color: red;
                        }

                        .fa-shopping-cart {
                            color: #a0a0a0;
                            margin-left: 1rem;

                            &:hover {
                                color: $black;
                            }

                        }
                    }
                }
            }
        }
    }
}

.review {
    .swiper-wrapper {
        max-width: 100%;

        .slide {
            width: 100%;
            padding: 2rem;
            box-shadow: $box-shadow;
            border: .1rem solid rgba(0, 0, 0, .2);
            border-radius: .5rem;
            position: relative;
            min-height: 26rem;
            flex-direction: column;

            @include mobile {
                padding: 1rem;
                min-height: 25rem;
            }

            p {
                font-size: 1.4rem;
                line-height: 1.8;
                color: $light-color;
                margin-top: auto;

                @include mobile {
                    font-size: 1.3rem;
                }
            }

            .user {
                display: flex;
                gap: 1.5rem;
                align-items: center;
                padding-bottom: 1.5rem;

                img {
                    height: 7rem;
                    width: 7rem;
                    border-radius: 50%;
                    object-fit: cover;

                    @include mobile {
                        height: 5rem;
                        width: 5rem;
                    }
                }

                h3 {
                    color: $black;
                    font-size: 1.8rem;
                    padding-bottom: .5rem;

                    @include mobile {
                        font-size: 1.7rem;
                    }
                }

                i {
                    font-size: 1.3rem;
                    color: $main-color;

                    @include mobile {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.event {

    .box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin-top: 1rem;

        .event_con {
            flex: 1 1 40rem;

            img {
                width: 100%;
                height: 30rem;
                border-radius: 1rem;

                @include mobile{
                    height:25rem;
                    width:100%;
                }
            }

            h4 {
                font-size: 2rem;
                color: $black;
                margin-top: 1.5rem;

                @include mobile{
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 1.4rem;
                margin-top: 1.5rem;

                color: $light-color;
            }
        }
    }
}

.map {
    background: url('../images/marp.jpg') no-repeat center/cover;
    background-color: rgba(0, 0, 0, 0.623);
    background-blend-mode: color;
    margin-top: 5rem;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    @include mobile {
        min-height: 50vh;
    }

    h3 {
        color: $white;
        font-size: 3rem;

        @include mobile {
            font-size: 2.5rem;
        }
    }

    p {
        color: $white;
        font-size: 1.6rem;
        text-align: center;
        line-height: 2;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        input[type="text"] {
            background: $white;
            padding: 1.5rem 3rem;
            min-width: 40rem;
            border-radius: 3rem;
            font-size: 1.5rem;

            @include mobile {
                min-width: 25rem;
            }
        }

        .btn {
            margin-top: 0;
            padding: 1.2rem 3rem;
        }
    }
}

.footer {
    border-top: .1rem solid rgba(11, 11, 11, 0.1);

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            padding: 2rem;
        }

        .box_logo {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            @include mobile {
                display: none;
            }

            img {
                height: 5rem;
                border-radius: 50%;
            }
        }

        .box {
            text-align: left;

            h3 {
                padding: .8rem 0;
                font-size: 1.5rem;
                color: $black;

                @include mobile {
                    font-size: 1.4rem;
                }
            }

            a {
                display: block;
                padding: .8rem 0;
                font-size: 1.3rem;
                color: $light-color;

                @include mobile {
                    font-size: 1.3rem;
                }

                &:hover {
                    color: $black;
                    text-decoration: underline;
                }
            }
        }
    }

    .credit {
        text-align: center;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        font-size: 1.4rem;
        color: $light-black;
        padding: .5rem;
        padding-top: 1.5rem;
        margin-top: 1.5rem;

        @include mobile {
            font-size: 1.3rem;
        }

        span {
            color: $black;
        }
    }
}

/* loading */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.fade-out {
        top: 110%;
        opacity: 0;
    }

    img {
        width: 10rem;
    }

    @include mobile {
        display: none;
    }
}